.row {
	display: block;
	border: 1px solid red;
	width: 100%;
	height: 300px;
}

.col {
    margin: 15px;
    padding: 5px;
	display: flex;
    flex-direction: column;
	width: 30%;
	height: 300px;
	border: 1px solid blue;
}
